data/tl_2019_us_county/* filter=lfs diff=lfs merge=lfs -text
data/vita_sites_by_county.csv filter=lfs diff=lfs merge=lfs -text
data/tl_2019_us_county.zip filter=lfs diff=lfs merge=lfs -text
data/cb_2019_us_county_5m/* filter=lfs diff=lfs merge=lfs -text
